body {
    display: flex;
    justify-content: center;
}

#calc-container {
    background-color: grey;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 176px;
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
}

#body-img {
    background-image: none; 
    background-color: white; 
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
}

.window {
    border: 3px solid black;
    text-align: right;
    background-color: rgb(43, 36, 36);
    height: 24px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #4CAF50;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.6s ease;
    padding: 4px;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.col {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(152, 152, 192);
    transition: background-color 0.3s ease, transform 0.1s ease;
    font-family: 'VT323', monospace;
    font-size: 30px;
    border-color: black;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(76, 76, 168);
}

button:active {
    transform: scale(0.95);
}

#calc-container.error {
    background-color: #7a0303;
    box-shadow: 0 0 25px 8px red;
    animation: shake-it 0.05s infinite alternate;
}

#calc-container.error .window {
    background-color: #7a0303;
    color: white;
}

#body-image.error {
    background-image: url('images/nuke.jpg') ; 
    background-repeat: no-repeat ;
    background-position: center center ;
    background-size: cover ;
    background-attachment: fixed ;
    background-color: #580000 ; 
    animation: pulse-red-alert 0.1s infinite alternate ; 
}

@keyframes pulse-red-alert {
    from {
        box-shadow: inset 0 0 50px 10px red;
    }
    to {
        box-shadow: inset 0 0 20px 5px rgba(255, 0, 0, 0.5);
    }
}

@keyframes shake-it {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    40% { transform: translate(1px, -1px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    100% { transform: translate(1px, 0px) rotate(-1deg); }
}


