body {
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: grey;
    border: 5px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 176px;
    

}

.window {
    border: 3px solid black;
    text-align: right;
    background-color: white;
    height: 24px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #4CAF50;
    background-color: #222;
    white-space :nowrap;
    overflow: hidden;
}

.buttons {
    display : flex;
    flex-direction: row;
    max-width : 500px;
    justify-content: center;
}

button {
    background-color: rgb(152, 152, 192);
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

button:hover {
    background-color: rgb(76, 76, 168);
}

.col {
    display: flex;
    flex-direction: column;
}
